/* =========================
BASE ELEMENT STYLE 
============================*/

*{
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: rgb(38, 38, 38);
    line-height: 1.6;
}

h1 {
    font-size: 3.6em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
}

h3 {
    font-size: 2em;
}

a,
a:visited {
    text-decoration: none;
    color: rgb(38, 38, 38);
}

a:active {
    color: rgb(254, 96, 51);
}

img {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: block;
}

button {
    background-color: rgb(254, 96, 51);
    border: none;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);

    text-transform: uppercase;
    color: #fff;

    margin-top: 10px;
    padding: 10px;
    width: 164px;
}

button:hover,
button:active {
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .5);
}

i {
    font-size: 1.6em;
}

input {
    border: 1px ridge rgb(38, 38, 38);
    
    margin-right: 20px;
    padding: 13px;
}



/* ==============================
BASE LAYOUT STYLES
=============================== */

.main-header,
.main-footer {
    text-align: center;
}

.main-footer {
    background-color: rgb(38, 38, 38);
    color: #fff;
    padding: 5px;
}

/*------ NAV BAR -----*/
.main-nav {
    font-size: 1.5em;
}

.main-nav li {
    padding: 7px;
    font-weight: 600;
}

.main-nav a:hover {
    border-top: 3px solid rgb(254, 96, 51);
}


/* ================ SECTIONS ===============*/

.about,
.services,
.blog {
    color: #fff;
}

/*====== HOME SECTION =====*/

.home {
    background: url(../img/bg1.png) no-repeat center;
    background-size: cover;
    height: 100vh;

    position: relative;
}

.home h1 {
    font-size: 3em;
    font-weight: 800;
}

.home a {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 7%;
}

.home button {
    margin-bottom: 50px;
}

/* ====== ABOUT ME SECTION ======*/

.about {
    background-color: rgb(1, 195, 195);
    padding-bottom: 20px;
}

/*====== SERVICES SECTION =======*/

.services {
    background-color: rgb(112,192,255);
    padding-top: 40px;
}

.services-button {
    background-color: #fff;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);

    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    margin: 15px auto;
}

.services-button a {
    display: flex;
}

.services-button:hover {
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .5);
}

.services-button-text {
    flex: 3;

    border-right: 1px solid rgb(38, 38, 38);
    
}

.services-button-img {
    flex: 1;
}

.buttons-container {
    padding: 40px 0; 
}

/*====== GALLERY SECTION =======*/

.gallery {
    background-color: rgb(254, 233, 46);
    padding-bottom: 60px;
}

/*====== SUBSCRIBE SECTION =======*/

.subscribe {
    background: url(../img/bg2.png) no-repeat center;
    background-size: cover;
    margin: 50px auto;
}

/*======== BLOG SECTION ========*/

.blog {
    background-color: rgb(176, 124, 248);
    padding-bottom: 60px;
}

/*========== CONTACT ========*/

.contact {
    background: url(../img/bg3.png) no-repeat center;
    background-size: cover;

    padding-bottom: 50px;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    border: none;
    background-color: rgba(0, 196, 195, 0.5);
    
    margin: 10px auto;
    padding: 13px;
    width: 100%;
}

.contact textarea {
    resize: none;
    height: 30vh;
}

.contact input:focus,
.contact textarea:focus {
    background-color: rgb(0, 196, 195);
    border-left: 4px solid rgb(53,91,130);
}

.contact input::placeholder,
.contact textarea::placeholder {
    color: #fff;
}

.address {
    color: #fff;
    padding-top: 20px;
}


/*==================== ELEMENTS ================*/

/*----- BUTTONS------ */

.blue-button {
    background-color: rgb(86,133,163);
}

.green-button {
    background-color: rgb(151,186,44);
}

.red-button {
    background-color: rgb(248,43,60);
}

/*----- IMAGES -----*/

.gallery img,
.blog img {
    padding: 0;
    margin: 20px auto;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);
}

/*----- LOGO ----*/

.logo {
    margin: 20px auto;
}

/* ===== FOR TRANSFORMING ELEMENTS ===== */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .center-text {
      text-align: center;
  }


/* ============ LAYOUT CONTAINERS ============ */ 

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.wrapper-60 {
    width: 60%;
}

.wrapper-70 {
    width: 70%;
}

.center-vertically {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*----- IMGAES ----*/

.img-center-container {
    position: relative;
    text-align: center;
}

.img-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container {
    width: 70%;
    margin: 20px auto;
}


  /* ================================= 
  Media Queries
==================================== */